<section data-ng-controller="ActivityController">

		<div class="row">
			<script>
				$(function(){
					$(".element").typed({
						strings: ["play Basketball.", "on the Garibaldi hike.", "dance.", "join a martial arts class.",
						"play board games with friends."],
						typeSpeed: 50,
						backDelay: 1500,
						loop: true
					});
				});
			</script>

			<h2>Go <span class="element"></span></h2>	
			</div>
						<p data-ng-hide="authentication.user">Hello! Welcome to Go.</p>

			<br> Insert Activity Image Here
		
			</div>

		</div>
		
	</div>
	<br>Team RuntimeExceptionals
	<br>Hack the North 2015
</section>
