<section>

		<div class="row">
			<h2 >
				Go {{ prefix }} {{ name }}
			</h2>
		</div>



		<body>

			<script>
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '905471776199764',
			      xfbml      : true,
			      version    : 'v2.4'
			    });
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
						
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=900333296654638";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>

			<input type="image" src="/modules/users/img/buttons/lazyButton.png"/>

			<div>
			<input type="image" ng-click="DoingIt()" id="likeButtons" src="/modules/users/img//buttons/like_heart.png" />

			<input type="image" onclick="location.href='/#!/activity';" id="likeButtons" src="/modules/users/img//buttons/dislike_heart.png" />
			</div>

			<div
			  class="fb-like"
			  data-share="true"
			  data-width="450"
			  data-show-faces="false"
			  data-layout="button">
			</div>

			<div></div>

		</body>

	<br>Team RuntimeExceptionals
	<br>Hack the North 2015
	<br> Icons made by <a href="http://www.freepik.com">Freepik</a> from <a href="www.flatiron.com">www.flatiron.com</a>
</section>
