<section data-ng-controller="HomeController">

	<div class="row">
			<script>
				$(function(){
					$(".element").typed({
						strings: ["play Basketball.", "on the Garibaldi hike.", "dance.", "join a martial arts class.",
						"play board games with friends."],
						typeSpeed: 50,
						backDelay: 1500,
						loop: true
					});
				});
			</script>

			<h1>Go <span class="element"></span></h1>

	</div>

			<!-- <div class="jumbotron text-center"> -->

		<br>
	<div class="row">
			<p data-ng-hide="authentication.user">Hello! Welcome to Go.</p>

			<p class="lead" data-ng-show="authentication.user">
				Hello <span data-ng-bind="authentication.user.displayName"></span>, how are you feeling today?
			</p>

			<img class="img-rounded hvr-grow" ng-click="findActivity('Lazy')" src="/modules/users/img//buttons/lazyButton.png" />

			<img class="img-rounded hvr-grow" ng-click="findActivity('Adventurous')" src="/modules/users/img//buttons/adventurousButton.png" />

			<img class="img-rounded hvr-grow" ng-click="findActivity('Sporty')" src="/modules/users/img//buttons/sportyButton.png" />

		
	</div>
	<div class="featured">

		<h3>Most Popular</h3>
		<hr class="small">

		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Bowling</h4>
						<p><a href="#!/activity/Bowling" class="btn btn-primary" role="button">Do it!</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Basketball</h4>
						<p><a href="#!/activity/Basketball" class="btn btn-primary" role="button">Do it!</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4>Hiking</h4>
						<p><a href="#!/activity/Hiking" class="btn btn-primary" role="button">Do it!</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>

<style>
	.img-rounded
	{
		cursor: pointer;
	}
</style>
