<section data-ng-controller="HomeController">

		<div class="row">
			<script>
				$(function(){
					$(".element").typed({
						strings: ["play Basketball.", "on the Garibaldi hike.", "dance.", "join a martial arts class.",
						"play board games with friends."],
						typeSpeed: 50,
						backDelay: 1500,
						loop: true
					});
				});
			</script>

			<h1>Go <span class="element"></span></h1>

			</div>

			<!-- <div class="jumbotron text-center"> -->

		<br>
		<div class="row">
			<p data-ng-hide="authentication.user">Hello! Welcome to Go.</p>

			<p class="lead" data-ng-show="authentication.user">
				Hello <span data-ng-bind="authentication.user.displayName"></span>, how are you feeling today?
			</p>

			<img class="img-rounded" ng-click="findActivity('Lazy')" src="/modules/users/img//buttons/lazyButton.png" />

			<img class="img-rounded" ng-click="findActivity('Adventurous')" src="/modules/users/img//buttons/lazyButton.png" />

			<img class="img-rounded" ng-click="findActivity('Sporty')" src="/modules/users/img//buttons/lazyButton.png" />

		
	</div>
	<br>Team RuntimeExceptionals
	<br>Hack the North 2015
</section>
