<section class="row signup" data-ng-controller="QuestionsController">
    <div class="col-md-6">
        <h1>Welcome to Go</h1>
        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
    </div>
    <div class="col-md-6 text-center">

        <h3>Just a few questions to ask you...</h3>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
            <form name="userForm" data-ng-submit="processResults()" class="signin form-horizontal" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group">
                         <p>Do you prefer outdoor or indoor?</p>
                        <input type="radio" ng-model="mood" value="Adventurous" /> Yes
                        <input type="radio" ng-model="mood" value="Lazy" /> No <br />
                    </div>
                    <div class="form-group">
                         <label>After three miles of running, you ...</label> </br>
                        <input type="radio" ng-model="intensity" value="1" /> Want to lie in bed <br />
                        <input type="radio" ng-model="intensity" value="5" /> Are tired, but okay <br />
                        <input type="radio" ng-model="intensity" value="10" /> Are just getting warmed up <br />
                    </div>

                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-large btn-primary">Get me something to Do!</button>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
